<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="meta_header(title,links,scripts)">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="${title}">各ページタイトル</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<th:block th:replace="${links} ?: _" />
    <th:block th:replace="${scripts} ?: _" />
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-light bg-light" style="height: 96px;">
		  <div class="navbar-header">
	  		<a class="navbar-brand" href="#!"><img alt="Zaim" height="48" width="160" class="logo-default" src="//zaim-assets.s3-ap-northeast-1.amazonaws.com/assets/common/zaim.logo-611548ef40247b33e3d17e7aa71351450fa001d566499a26c71bb9b1d0524f3f.svg"></a>
		  </div>
		  <form id="money-form" th:action="@{/}" method="post">
		  <button type="button" class="btn btn-success actionBtn d-flex justify-content-start" th:data-action="@{/money/new}">家計簿を入力</button>
		  </form>
		</nav>
		<script>
	window.MyLib = {};
	// サブミット
	MyLib.submit = function (formId) {
	  form = document.getElementById(formId);
	  form.submit(); 
	}
	  $('.actionBtn').click(function(e) {
		 var form = $(e.currentTarget).closest('form')[0];
		 form.action = $(e.currentTarget).data('action');
		 MyLib.submit(form.id);
	  });
	</script>
	</header>
</body>
</html>		  	
